KafkaAvroToPostgres.json
{"flowContents":{"identifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614","instanceIdentifier":"a0af5880-0182-1000-042c-dab6e281bfa9","name":"KafkaAvroToPostgres","comments":"","position":{"x":358.0,"y":76.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"30fbb39c-3111-3c5b-8d03-f3fd36a9d40f","instanceIdentifier":"a0b7ba0b-0182-1000-0ce5-ce3ec1d7f1c8","name":"LogMessage","comments":"","position":{"x":480.0,"y":0.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"a2a64f5c-ec6c-3455-993b-c0d610a04e1d","instanceIdentifier":"a168a006-0182-1000-dac6-c1bae6ac60b0","name":"ConsumeKafka_2_6","comments":"","position":{"x":224.0,"y":-208.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.17.0"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"4","bootstrap.servers":"localhost:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":null,"max.poll.records":"10000","security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"topicAvro","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 0/1 * * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"b2572a9c-e9bb-3185-a276-62ae1e589fe4","instanceIdentifier":"a16ab9f3-0182-1000-bb96-5857631f0d44","name":"ConvertRecord","comments":"","position":{"x":608.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"record-writer":"cf8d068f-22af-3379-b8e9-e44641612aa8","record-reader":"364c870b-2fc2-3d64-a19a-064d254154a5","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"cc5a3ccf-62a2-31d5-b2ef-d64eeb4f6ddd","instanceIdentifier":"a1a205c1-0182-1000-5041-d1a48b10ed0c","name":"LogMessage","comments":"","position":{"x":1056.0,"y":-632.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"7b83047d-8537-38ea-8f7d-045a6278cb6f","instanceIdentifier":"a1a0ec3a-0182-1000-72be-5c44fae68fd9","name":"PutSQL","comments":"","position":{"x":1144.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"748edbe5-39b1-381e-bf53-d97422338d04","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"b06085ff-4a38-38da-a911-09bf31e91fdb","instanceIdentifier":"a16e29ce-0182-1000-1d26-e49e22d7e724","name":"ConvertJSONToSQL","comments":"","position":{"x":928.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"nifi_records","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"748edbe5-39b1-381e-bf53-d97422338d04","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1e481e2a-1527-3835-9b08-8bed2c54c1f2","instanceIdentifier":"a16bc87e-0182-1000-c3f6-df9517bde8a8","name":"","source":{"id":"a2a64f5c-ec6c-3455-993b-c0d610a04e1d","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"a168a006-0182-1000-dac6-c1bae6ac60b0"},"destination":{"id":"b2572a9c-e9bb-3185-a276-62ae1e589fe4","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertRecord","comments":"","instanceIdentifier":"a16ab9f3-0182-1000-bb96-5857631f0d44"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"3b5163a1-998c-33af-9285-163bc1865a3d","instanceIdentifier":"a16ee32b-0182-1000-63f4-6aed21e9e1d8","name":"","source":{"id":"b2572a9c-e9bb-3185-a276-62ae1e589fe4","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertRecord","comments":"","instanceIdentifier":"a16ab9f3-0182-1000-bb96-5857631f0d44"},"destination":{"id":"b06085ff-4a38-38da-a911-09bf31e91fdb","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"a16e29ce-0182-1000-1d26-e49e22d7e724"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"c05ab7c8-4a39-3d0e-9d99-d16c25d26430","instanceIdentifier":"a16c1644-0182-1000-d7ee-bb9b4e67980e","name":"","source":{"id":"b2572a9c-e9bb-3185-a276-62ae1e589fe4","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertRecord","comments":"","instanceIdentifier":"a16ab9f3-0182-1000-bb96-5857631f0d44"},"destination":{"id":"30fbb39c-3111-3c5b-8d03-f3fd36a9d40f","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"LogMessage","comments":"","instanceIdentifier":"a0b7ba0b-0182-1000-0ce5-ce3ec1d7f1c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"6799f600-da37-36ee-a06f-c2bc028dedee","instanceIdentifier":"a176b3c1-0182-1000-29f0-7f6f6297fe49","name":"","source":{"id":"b06085ff-4a38-38da-a911-09bf31e91fdb","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"a16e29ce-0182-1000-1d26-e49e22d7e724"},"destination":{"id":"30fbb39c-3111-3c5b-8d03-f3fd36a9d40f","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"LogMessage","comments":"","instanceIdentifier":"a0b7ba0b-0182-1000-0ce5-ce3ec1d7f1c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"f45cc3ed-0741-3486-b07c-2911b772f989","instanceIdentifier":"a1a1040b-0182-1000-5361-c45997b6861c","name":"","source":{"id":"b06085ff-4a38-38da-a911-09bf31e91fdb","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"a16e29ce-0182-1000-1d26-e49e22d7e724"},"destination":{"id":"7b83047d-8537-38ea-8f7d-045a6278cb6f","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"PutSQL","comments":"","instanceIdentifier":"a1a0ec3a-0182-1000-72be-5c44fae68fd9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"a21e9b09-f854-39a7-9108-c22850608608","instanceIdentifier":"a1a22f84-0182-1000-fa0f-8796b6cf1ea4","name":"","source":{"id":"7b83047d-8537-38ea-8f7d-045a6278cb6f","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"PutSQL","comments":"","instanceIdentifier":"a1a0ec3a-0182-1000-72be-5c44fae68fd9"},"destination":{"id":"cc5a3ccf-62a2-31d5-b2ef-d64eeb4f6ddd","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"LogMessage","comments":"","instanceIdentifier":"a1a205c1-0182-1000-5041-d1a48b10ed0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"6370118c-8d37-3495-9aca-4b147ae71bc8","instanceIdentifier":"a1a25101-0182-1000-b677-62314febafce","name":"","source":{"id":"7b83047d-8537-38ea-8f7d-045a6278cb6f","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"PutSQL","comments":"","instanceIdentifier":"a1a0ec3a-0182-1000-72be-5c44fae68fd9"},"destination":{"id":"cc5a3ccf-62a2-31d5-b2ef-d64eeb4f6ddd","type":"PROCESSOR","groupId":"e817e07b-dff2-3f79-8729-90d9a5bd2614","name":"LogMessage","comments":"","instanceIdentifier":"a1a205c1-0182-1000-5041-d1a48b10ed0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1032.0,"y":-448.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"01dfe4d6-40b6-3032-9468-6770f064c2c0","instanceIdentifier":"a0c249cb-0182-1000-e78b-f66bd8af76b0","name":"ConfluentSchemaRegistry","comments":"","type":"org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-confluent-platform-nar","version":"1.17.0"},"properties":{"cache-expiration":"1 hour","authentication-type":"NONE","cache-size":"1000","ssl-context":null,"url":"http://localhost:8081","timeout":"30 secs","username":null},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"password":{"name":"password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"authentication-type":{"name":"authentication-type","displayName":"Authentication Type","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"ssl-context":{"name":"ssl-context","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URLs","identifiesControllerService":false,"sensitive":false},"timeout":{"name":"timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"5f2e6b21-3afd-333c-a76d-aa4e988dc86f","instanceIdentifier":"a0c59d52-0182-1000-5420-8951c56ad8de","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"no-schema","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"cf8d068f-22af-3379-b8e9-e44641612aa8","instanceIdentifier":"a16b551f-0182-1000-12aa-0aa627e96326","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"748edbe5-39b1-381e-bf53-d97422338d04","instanceIdentifier":"a173bc80-0182-1000-3129-c0664de44d73","name":"Postgres","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/demo","dbcp-time-between-eviction-runs":"-1","Database User":"user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"C:\\Users\\mvchernov\\work\\nifi-1.17.0","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"},{"identifier":"364c870b-2fc2-3d64-a19a-064d254154a5","instanceIdentifier":"a0be9657-0182-1000-4cb8-73ede2a527b1","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"schema-branch":null,"schema-name":"topicAvro-value","cache-size":"1000","schema-registry":"01dfe4d6-40b6-3032-9468-6770f064c2c0","schema-access-strategy":"confluent-encoded","schema-version":null,"schema-text":"{\"type\": \"record\",\n\"name\": \"transaction\",\n\"namespace\": \"com.example.models.avro\",\n\"fields\": [\n{\"name\": \"channel\", \"type\": \"int\"},\n{\"name\": \"date_time\", \"type\": \"string\"},\n{\"name\": \"hotel_id\", \"type\": \"long\"},\n{\"name\": \"id\", \"type\": \"long\"},\n{\"name\": \"is_mobile\",  \"type\": \"boolean\"},\n{\"name\": \"is_package\", \"type\": \"boolean\"},\n{\"name\": \"orig_destination_distance\", \"type\": \"double\"},\n{\"name\": \"posa_continent\", \"type\": \"string\"},\n{\"name\": \"site_name\", \"type\": \"int\"},\n{\"name\": \"srch_adults_cnt\", \"type\": \"int\"},\n{\"name\": \"srch_children_cnt\", \"type\": \"int\"},\n{\"name\": \"srch_ci\", \"type\": \"string\"},\n{\"name\": \"srch_co\", \"type\": \"string\"},\n{\"name\": \"srch_destination_id\", \"type\": \"long\"},\n{\"name\": \"srch_destination_type_id\", \"type\": \"int\"},\n{\"name\": \"srch_rm_cnt\", \"type\": \"int\"},\n{\"name\": \"user_id\", \"type\": \"long\"},\n{\"name\": \"user_location_city\", \"type\": \"int\"},\n{\"name\": \"user_location_country\", \"type\": \"int\"},\n{\"name\": \"user_location_region\", \"type\": \"int\"}\n]\n}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e817e07b-dff2-3f79-8729-90d9a5bd2614"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}